html,
body {
  height: 100%;
	width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000 url('../assets/images/j-collection.jpg') no-repeat left bottom / contain;
  background-size: auto 80%;  color: #fff;
  font-family: 'Lato', sans-serif;
}

h1 {
	text-indent: -99999px;
	width: 200px;
	margin: 0 auto;
	height: 150px;
	background: url('../assets/images/j-collection-logo.png') no-repeat center center / contain;
}

@media (min-width: 768px) {
	body {
		background-size: contain;
	}

	h1 {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -150px;
		width: 370px;
		height: 300px;
	}
}
